<h1 class="title">All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <p><span>name: </span> <%= mechanic.name %></p>
  <p><span>experience: </span> <%= mechanic.years_of_experience%> years of experience</p>
<% end %>
